/* Employees conteiner */
.employees {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &-section {
    background-color: $element-bg-color;
  }

  &-title {
    margin-bottom: 10px;
    color: $title-text-color;
    @include text(500, 16px, 1.19, $letterspacing: 0);
    text-align: center;
  }

  &-text {
    margin-bottom: 16px;
    @include text(400, 16px, 1.19, $letterspacing: 0);
    text-align: center;
  }

  &-link {
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    @extend %boxShadow;

    @media screen and (max-width: 767px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }

  &-item {
    text-align: center;
    padding: 30px 0px 24px;
    margin: 0px;
  }
}

.employees-link img {
  @media screen and (max-width: 767px) {
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 767px) {
    height: 260px;
    width: 100%;
  }
}

/* Conteiner portfolio */
.portfolio-list {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    height: 404px;

    background: $secondary-text-color;
    border: 1px solid $third-color;
    border-top: 0px;

    @media screen and (max-width: 767px) {
      height: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }
}

.portfolio {
  padding: 20px 24px;

  &-description {
    position: absolute;
    top: 0;
    @include size(100%, 100%);
    @include text(400, 18px, 1.56, $letterspacing: 0.03em);
    background-color: $background-third-color;
    color: $secondary-text-color;
    transform: translateY(100%);
    transition: transform $time-animation;

    @media screen and (min-width: 480px) {
      padding: 77px 24px;
    }
    @media screen and (min-width: 768px) {
      padding: 54px 24px;
    }
    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
  }

  &-card {
    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px $bs-color-four, 0px 4px 4px $bs-color-five,
        0px 1px 1px $bs-color-one;
      outline: none;
    }
  }

  &-card {
    &:focus .portfolio-description,
    &:hover .portfolio-description {
      transform: translateY(0);
      outline: none;
    }
  }

  &-hover {
    position: relative;
    overflow: hidden;
  }

  &-title {
    margin-bottom: 4px;
    color: $title-text-color;
    @include text(700, 18px, 2, $letterspacing: 0.06em);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-text {
    @include text(400, 16px, 1.88, $letterspacing: 0);
  }

  &-img {
    width: 100%;
    height: 100%;
  }
}
