/* Employees conteiner */
.employees {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &-section {
    background-color: $element-bg-color;
  }

  &-title {
    margin-bottom: 10px;
    color: $title-text-color;
    @include text(500, 16px, 1.19, $letterspacing: 0);
    text-align: center;
  }

  &-text {
    margin-bottom: 16px;
    @include text(400, 16px, 1.19, $letterspacing: 0);
    text-align: center;
  }

  &-link {
    background-color: $secondary-text-color;
    border-radius: 0px 0px 4px 4px;
    @extend %boxShadow;

    @media screen and (max-width: 767px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      outline: solid 3px black;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
      outline: solid 3px red;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
      outline: solid 3px blue;
    }
  }

  &-item {
    text-align: center;
    padding: 30px 0px 24px;
    margin: 0px;
  }
}

/* Conteiner portfolio */
.portfolio-list {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    /* @extend %JustifyContentCenter;
    width: 450px;
    @include marginBottom(30px, $margintop: 0);
    margin-right: 30px;*/

    background: $secondary-text-color;
    border: 1px solid $third-color;
    border-top: 0px;

    @media screen and (max-width: 767px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      outline: solid 3px black;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
      outline: solid 3px red;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
      outline: solid 3px blue;
    }
  }
}

.portfolio {
  padding: 20px 24px;

  &-description {
    margin: 0px;
    @include text(400, 18px, 1.57, $letterspacing: 0.03em);
    position: absolute;
    top: 0;
    @include size(100%, 100%);
    padding: 63px 24px;
    background-color: $background-third-color;
    color: $secondary-text-color;
    transform: translateY(100%);
    transition: transform $time-animation;
  }

  &-card {
    &:hover {
      box-shadow: 1px 4px 6px $bs-color-four, 0px 4px 4px $bs-color-five,
        0px 1px 1px $bs-color-one;
    }

    &:focus .portfolio-description,
    &:hover .portfolio-description {
      transform: translateY(0);
    }
  }
  &-img {
    display: block;
  }

  &-hover {
    position: relative;
    overflow: hidden;
  }

  &-title {
    margin: 0;
    @include marginBottom(4px, $margintop: 0);
    color: $title-text-color;
    @include text(700, 18px, 2, $letterspacing: 0.06em);
  }

  &-text {
    margin: 0px;
    @include text(400, 16px, 1.88, $letterspacing: 0);
  }
}
