/* Global container-sizes*/
.conteiner {
  max-width: 1200px;
  margin: 0px auto 0px;
  /* padding: 60px 15px;*/

  @media screen and (max-width: 479px) {
    padding: 60px 15px;
    width: calc(100% - 30px);
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 60px 15px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    padding: 60px 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 94px 15px;
  }
}

/*Header conteiner*/
.header {
  border: 1px solid $secondary-color;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;

  .conteiner {
    padding-top: 0px;
    padding-bottom: 0px;

    @extend %JustifyContentBetween;
    align-items: baseline;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $secondary-color;
  background-color: $secondary-text-color;
}

/* Footer conteiner */
.footer {
  .conteiner {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      /* padding: 60px 0px;*/

      /* .item:not(:last-child) {
        margin-bottom: 30px;
      }*/
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-end;
      /*align-content: center;*/
      /*align-items: baseline;*/
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.footer-mailing {
  outline: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  display: inline-block;
}

.address-conteiner {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-colneiner {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Footer conteiner */
/* .conteiner {
  @extend %JustifyContentBetween;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
*/
