/* Global container-sizes*/
.conteiner {
  max-width: 1200px;
  margin: 0px auto 0px;

  @media screen and (max-width: 479px) {
    padding: 60px 15px;
    max-width: calc(100% - 30px);
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding: 60px 15px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    padding: 60px 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 94px 15px;
  }
}

/*Header conteiner*/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $secondary-color;
  background-color: $secondary-text-color;

  border: 1px solid $secondary-color;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;

  .conteiner {
    padding-top: 0px;
    padding-bottom: 0px;

    @extend %JustifyContentBetween;
    align-items: baseline;
  }
}

/* Footer conteiner */
.footer {
  .conteiner {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.footer {
  &-mailing {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
    }
  }

  &-title {
    display: inline-block;
  }
}

.address-conteiner {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

.social-colneiner {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
