$fontfamily: Roboto, sans-serif;
$fontfamily-logo: Raleway, sans-serif;

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-third-color: rgba(33, 150, 243, 0.9);
$button-color-hover: #188ce8;
$secondary-text-color: #ffffff;
$secondary-color: #ececec;
$third-color: #eeeeee;
$widht-text-color: rgba(250, 250, 250, 0.6);
$text-color-two: rgba(250, 250, 250, 0.1);
$element-bg-color: #f5f4fa;
$colorblack-bg-color: #000000;
$bg-color: rgba(47, 48, 58, 0.8);
$bg-color-two: rgb(47, 48, 58);
$secondary-bg-color: #2f303a;
$secondary-icon-color: #afb1b8;
$bs-color: rgba(0, 0, 0, 0.15);
$bs-color-one: rgba(0, 0, 0, 0.12);
$bs-color-two: rgba(0, 0, 0, 0.08);
$bs-color-three: rgba(0, 0, 0, 0.1);
$bs-color-four: rgba(0, 0, 0, 0.16);
$bs-color-five: rgba(0, 0, 0, 0.06);
$bs-color-six: rgba(0, 0, 0, 0.2);

$time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
